<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

          {% if site.title -%}
            <p style="margin-top:-0px">
            <center><span style="font-size: 30px;"><a href=" {{ site.title }} ">{{ site.title | escape }}</a></span></center>              
            </p>
           {% endif -%}

          {% if site.description -%}
            <p>
            <center>JPEG Junkie: An Affliction of Addiction<br>to Obsessive Observation and<br>the Prevailing Preservation Thereof!™</center>
            </p>
           {% endif -%}

          {% if site.author.name -%}
            <p style="padding-top:0px">
            <center><span style="font-size:14px; font-weight:420;"><!--<a href="https://github.com/martbetz/martbetz.github.io/blob/main/README.md">-->© {{ site.author.name | escape }} (2024) – all rights reserved.</a></center></span>
            </p>
           {% endif -%}
  
   <p style="margin-top:-20px">
     &nbsp;
   </p>    
  
</footer>
