<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
          {% if site.title -%}
            <p style="margin-top: -60px;">
            <center><span style="font-size: 30px"><a href="https://github.com/martbetz/martbetz.github.io/blob/main/README.md">{{ site.title | escape }}</a></span></center>              
            </p>
           {% endif -%}

          {% if site.description -%}
            <p style="margin-top: -5px;">
            <center>JPEG Junkie: An Affliction of Addiction<br>to Obsessive Observation<br>and&nbsp;Perfective Presentation Availed!™</span></center>            
            </p>
           {% endif -%}
                    
           {% if site.author.name -%}
            <p style="margin-top: 15px;">
            <center><span style="font-size:13px; font-weight:520;"><a href="https://martbetz.github.io/terms-and-conditions.html#copyright">© {{ site.author.name | escape }} <script>document.write("(");document.write( new Date().getFullYear() );document.write(")");</script> – all rights reserved</a>.&nbsp;</center></span>
            <!-- <center><span style="font-size:13px; font-weight:520;">© {{ site.author.name | escape }} (<script>document.write( new Date().getFullYear() );</script>) – all rights reserved</a>.</center></span> -->
          
            </p>
            {% endif -%}
  
   <p style="margin-top:-20px">
     &nbsp;
   </p>    

</footer>
