<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

          {% if site.title -%}
            <p style="margin-top:-10px">
            <center><font size="5"><a href=" {{ site.title }} ">{{ site.title | escape }}</a></font></center>              
            </p>
           {% endif -%}

          {% if site.description -%}
            <p>
            <center>JPEG Junkie: An Affliction of Addiction<br>to Obsessive Observation and<br>the Prevailing Preservation Thereof!™</center>
            </p>
           {% endif -%}

          {% if site.author.name -%}
            <p style=" margin-bottom:10px">
            <center><font size="3">© {{ site.author.name | escape }} (2024) – all rights reserved.</center></font>
            </p>
           {% endif -%}
           
</footer>
