<!DOCTYPE html> 

 {%- include head.html -%}

  <body>

  <!--{%- include header.html -%}-->

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

   <!--{%- include footer.html -%}-->

<script src="https://unpkg.com/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js"></script>
<script>addBackToTop({
  innerHTML: '<svg viewBox="0 0 24 24"><path d="M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z"/></svg>',
  diameter: 36,
  // backgroundColor: 'rgb(255, 0, 255)',
  backgroundColor: '#111111',
  //backgroundColor: '#DB1A9B',
  //textColor: '#fff',
  textColor: '#eeeee4',
  showWhenScrollTopIs: 2000, // px
  cornerOffset: 20, // px
})</script>

    
<!--
    
vanilla-back-to-top options:

  backgroundColor: '#000',
  backgroundColor: 'rgb(255, 82, 82)',
  cornerOffset: 20, // px
  diameter: 56, // px
  ease: inOutSine, // any one from https://www.npmjs.com/package/ease-component will do
  id: 'back-to-top',
  innerHTML: '<svg viewBox="0 0 24 24"><path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>',
  onClickScrollTo: 0, // px
  scrollContainer: document.body, // or a DOM element, e.g., document.getElementById('content')
  scrollDuration: 100, // ms
  showWhenScrollTopIs: 1, // px
  size: diameter, // alias for diameter
  textColor: '#fff',
  zIndex: 1

-->
    
  </body>

</html>
