<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">


  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

<script src="https://unpkg.com/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js"></script>
<script>addBackToTop({
  diameter: 46,
  backgroundColor: 'rgb(255, 82, 82)',
  backgroundColor: 'rgb(255, 82, 82)',
  textColor: '#fff',
  showWhenScrollTopIs: 2000, // px
})</script>
    
  </body>

</html>
