---
layout: default
---
 
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}
  
  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

<p style="margin-top: -40px;">
<font size="4">
&nbsp;
<!-- <hr style="height:0.75px"> -->

</font>
</p>
 
<p style="padding-top: 0.75%; line-height: 1.15em;">
   <font size="2">
     ¹ I also like breeding dodos,&nbsp;🥚 walking barefoot,&nbsp;👣 and juggling rainbows.&nbsp;🌈
   </font>
<!-- </p> -->
 <br>
<!-- <p style="margin-top: -0.75%; line-height: 1.15em;"> -->
   <font size="2">
       ² This site should be read on a tablet (because they’re book-shaped, and for a damned good reason).
   </font>
</p>

</font>
</p>
 
<br>
  
<p style="margin-top: -10px;">
  <center>
  <font size="3">
      <b>
        Visitor Count
    </b>
  </font>
  <br>
 <!-- <img src="https://i.gifer.com/FESo.gif" alt="Visitor Counter"> -->
    <img src="https://raw.githubusercontent.com/martbetz/martbetz.github.io/main/_includes/custom/counter.gif">
  </center>
</p>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
